* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #2C3E50;
}

header {
    background-color: #269447;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

h1 {
    font-size: 2rem;
    flex-grow: 1;
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
}

button {
    padding: 10px 20px;
    background-color: white;
    color: #269447;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #24723b;
    color: white;
}


#buttonRemover, #buttonEditar, #buttonCadastrar {
    background-color: #269447;
    color: white;
    display: block;
    margin: 0 auto;
}

#buttonRemover:hover, #buttonEditar:hover, #buttonCadastrar:hover {
    background-color: #24723b;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section {
    margin-top: 20px;
}

h2 {
    color: #2C3E50;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
}

div {
    margin-top: 10px;
}
